.tile {
  border-radius: 8px;
  box-sizing: content-box;
  cursor: pointer;
  height: var(--speeddial-tile-height);
  left: 0;
  max-height: var(--speeddial-tile-height);
  pointer-events: all;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: all 0.3s ease;
  width: var(--speeddial-tile-width);
}

.tile .tile-content {
  background-image: -webkit-image-set(url('chrome://theme/IDR_START_PAGE_SPEEDDIAL_PLACEHOLDER') 1x, url('chrome://theme/IDR_START_PAGE_SPEEDDIAL_PLACEHOLDER@2x') 2x);
  background-origin: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--opera-box-shadow);
}

.tile-main.is-thumbnail .tile-content {
  box-shadow: none;
}

.modal-content-container .add.tile .tile-content {
  box-shadow: none;
}

.add.tile .tile-content,
.folder.tile .tile-content,
.fallback.tile .tile-content {
  background-image: none;
}

:host-context(html.gx) .tile {
  --radius: 4px;
  border-radius: var(--radius);
  box-shadow: none;
}

:host-context(html.crypto) .tile {
  background: linear-gradient(180deg, rgba(133, 160, 186, 0.24) 0%, rgba(51, 67, 81, 0.4) 100%);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

:host-context(html.crypto.light-wallpaper) .tile {
  background: linear-gradient(180deg, rgba(62, 80, 93, 0.32) 0%, rgba(26, 34, 40, 0.52) 100%);
}

:host-context(html.crypto.very-light-wallpaper) .tile {
  background: linear-gradient(180deg, rgba(41, 54, 62, 0.36) 0%, rgba(17, 23, 27, 0.58) 100%);
}

:host-context(html.gx) .tile-content {
  --border: 0;
  --cut: 16px;
  --width: var(--speeddial-tile-width);
  --height: var(--speeddial-tile-height);
  background-size: cover;
  clip-path: polygon(
               var(--cut) 0,
               var(--width) 0,
               var(--width) calc(var(--height) - var(--cut)),
               var(--width) calc(var(--height) - var(--cut)),
               calc(var(--width) - var(--cut)) var(--height),
               0 var(--height),
               0 var(--cut)
             );
}

.folder .add.tile {
  box-shadow: none;
}

:host-context(html.no-animations) .tile {
  transition: all 0s;
}

.tile .title-container {
  border-radius: inherit;
  cursor: pointer;
  height: 32px;
  position: absolute;
  top: var(--speeddial-tile-height);
  width: 100%;
}

.speeddial .add.tile .title-container {
  align-items: center;
  display: flex;
  height: var(--speeddial-tile-height);
  justify-content: center;
  top: 0;
}

.speeddial .sole.add.tile .title-container {
  height: 32px;
}

.title .title-container:before {
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s;
}

.tile .title {
  background-color: transparent;
  box-sizing: border-box;
  color: var(--opera-font-color);
  text-shadow: var(--opera-text-shadow) var(--opera-shadow-color);
  display: block;
  height: 100%;
  line-height: 16px;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  text-overflow: ellipsis;
  transition: color 0.3s;
  white-space: nowrap;
}

:host-context(.modals-container) .tile .title {
  color: var(--opera-font-color);
  text-shadow: none;
}

:host-context(.modals-container) .add.tile::before {
  background-color: var(--opera-font-color);
}

:host-context(.modals-container) .add.tile .tile-content {
  box-shadow: none;
}

.modal-content-container .tile .title {
  text-shadow: none;
}

.add.tile .title {
  text-shadow: none;
}

.tile .context-menu-button {
  background-image: url(chrome://op-resources/images/context_menu_button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 11px;
  border-radius: 50%;
  height: 21px;
  opacity: 0;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 21px;
}

.tile:hover .context-menu-button {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.tile:hover .context-menu-button:hover,
.context-menu-opened .context-menu-button {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

:host-context(html.gx) .tile .context-menu-button {
  background: none;
  background-color: white;
  -webkit-mask-image: url(chrome://op-resources/images/gx/ellipsis.svg);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 12px;
}

.tile.add {
  background: none;
}

.tile.add::before {
  background-color: var(--opera-font-color);
  content: '';
  height: 100%;
  left: 0;
  -webkit-mask-image: url('chrome://op-resources/images/speed-dial-plus-icon.svg');
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 50px 50px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 100%;
}

.folder .tile.add::before {
  background-color: var(--opera-font-color);
}

/* New design when the plus tile is the only one in the row */

.speeddial .add.tile {
  height: var(--speeddial-tile-height);
  transition: top 0.3s, left 0.3s, transform 0.3s, background 0s, opacity 0s;
}

:host-context(html.crypto) .speeddial .add.tile {
  background: transparent;
  backdrop-filter: none;
}

:host-context(html.crypto) .speeddial .add.tile .tile-content {
  box-shadow: none;
}

.speeddial .add.tile .tile-content {
  background-color: rgba(0, 0, 0, 0.5);
}

:host-context(html.gx) .speeddial .add.tile .tile-content {
  background-color: var(--opera-folder-background-color);
}

:host-context(html.crypto) .speeddial .add.tile .tile-content {
  background-color: transparent;
}

:host-context(html.no-animations) .speeddial .add.tile {
  transition: all 0s;
}

.speeddial .add.tile .title {
  color: white;
  display: -webkit-box;
  height: auto;
  line-height: 18px;
  max-height: 46px;
  overflow: hidden;
  text-shadow: var(--opera-text-shadow) var(--opera-shadow-color);
  white-space: initial;
  width: calc(var(--speeddial-tile-width) - 16px);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

:host-context(html.crypto) .speeddial .add.tile .title {
  font-size: 12px;
  font-weight: 600;
}

.speeddial .sole.add.tile .title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--speeddial-tile-width);
}

:host-context(html.no-wallpaper) .speeddial .add.tile .tile-content {
  background-color: var(--opera-tile-background-color);
}

:host-context(html.no-wallpaper) .speeddial .add.tile .title {
  color: black;
}

:host-context(html.no-wallpaper.dark-theme) .speeddial .add.tile .title {
  color: white;
}

.speeddial .add.tile .title::before {
  content: '+';
  padding-right: 5px;
}

:host-context(html.crypto) .speeddial .add.tile .title::before {
  font-weight: bold;
}

:host-context(html.crypto) .speeddial .add.tile .title::after {
  background-color: var(--opera-primary-color);
  border-radius: 4px;
  content: '';
  height: 3px;
  left: 46px;
  position: absolute;
  top: 58px;
  width: 33px;
}

:host-context(html.crypto) .speeddial .sole.add.tile .title::after {
  top: 30px;
}

:host-context(html.crypto.bigger-tiles) .speeddial .add.tile .title::after {
  left: 70px;
  top: 72px;
}

:host-context(html.crypto.bigger-tiles) .speeddial .sole.add.tile .title::after {
  top: 30px;
}

.speeddial .add.tile::before {
  -webkit-mask-image: none;
  background-color: inherit;
  border-radius: inherit;
}

.speeddial .sole.add.tile {
  height: 32px;
}

.speeddial .sole.add.tile .title {
  height: 32px;
  padding-top: 8px;
}

.tile-main {
  display: inline-block;
  border-radius: inherit;
  height: 100%;
  position: relative;
  width: 100%;
}

.tile-content {
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.tile .fallback-content {
  border-radius: inherit;
  font-size: var(--speeddial-tile-width);
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.tile .fallback-content > div {
  color: rgba(255, 255, 255, 1);
  margin-top: -1em;
  position: absolute;
  white-space: nowrap;
}

.tile .fallback-content > div:after {
  content: attr(data-content);
}

.folder.tile {
  line-height: normal;
  text-align: left;
}

.folder.tile .tile-content {
  background-color: var(--opera-folder-background-color);
  background-image: none;
}

:host-context(html.crypto) .folder.tile .tile-content {
  background-color: transparent;
}

.tile.folder .tile.fallback .fallback-content {
  font-size: 56px;
}

:host-context(html.bigger-tiles) .tile.folder .tile.fallback .fallback-content {
  font-size: 82.72px;
}

:host-context(html:not(.gx)) .tile.is-current-target {
  border-radius: 0;
}

:host-context(html:not(.gx)) .tile:not(.folder).is-current-target .tile-content {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: none;
  border: 10px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  margin: -10px;
  transition: border .3s ease-out, margin .3s ease-out;
}

:host-context(html.no-wallpaper:not(.dark-theme)) .tile:not(.folder).is-current-target .tile-content {
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.tile:not(.folder).is-current-target .tile-content > * {
  border-radius: 0;
}

:host-context(html:not(.gx)) .tile:not(.folder).is-current-target .title-container {
  height: var(--speeddial-tile-height);
  transition: border .2s ease-out, margin .2s ease-out;
  width: var(--speeddial-tile-width);
}

:host-context(html:not(.gx)) .folder.tile.is-current-target {
  border-radius: 8px;
  opacity: 1;
}

:host-context(html.no-wallpaper:not(.dark-theme)) .folder.tile.is-current-target {
  background-color: rgba(128, 128, 128, 0.3);
}

.tile.context-menu-opened {
  pointer-events: none;
}

.tile.context-menu-opened .context-menu-button {
  background-color: hsla(0, 0%, 0%, 0.4);
  opacity: 1;
}

.tile.dragged {
  pointer-events: none;
  transition: 0s;
  z-index: 1;
}

.tile.invisible {
  opacity: 0 !important;
  transition: 0s;
}

.dragging .tile {
  cursor: default;
}

.dragging .tile > * {
  pointer-events: none;
}

.tile.keyboard-mode:focus:after {
  border-radius: 8px;
  bottom: 0;
  box-shadow: 0 0 0 2px hsl(204, 100%, 45%) inset,
    0 0 0 3px hsl(0, 100%, 100%) inset, rgba(0, 0, 0, 0.23) 0 10px 20px -8px !important;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.012);
}

.dragged.tile .title,
.is-current-target.tile .title {
  opacity: 0;
}

.dragged.tile {
  opacity: 0.7;
}

.tile .favicon {
  background-size: 16px;
  height: 16px;
  left: 6px;
  pointer-events: none;
  position: absolute;
  top: 6px;
  width: 16px;
}

.tile .search-container {
  align-items: center;
  justify-content: center;
  bottom: 0;
  display: flex;
  height: 50%;
  position: absolute;
  width: 100%;
}

.tile .search-box {
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.tile .search-box input[type=text] {
  background-color: white;
  border: 0;
  border-radius: 4px;
  font-size: 11px;
  height: 25px;
  max-width: 98px;
  padding: 2px 22px 2px 8px;
}

:host-context(html.bigger-tiles) .tile .search-box input[type=text] {
  font-size: 13px;
  height: 29px;
  max-width: 120px;
}

.tile .is-thumbnail .search-box {
  transform: scale(0.36);
}

:host-context(html.bigger-tiles) .tile .is-thumbnail .search-box {
  transform: scale(0.44);
}

.tile .search-box input[type=text]::placeholder {
  color: #444;
}

.tile .search-box .loupe {
  background: url(chrome://op-resources/images/aliexpress/loupe.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 4px;
  top: 6px;
}

:host-context(html.bigger-tiles) .tile .search-box .loupe {
  top: 8px;
  right: 6px;
}

@keyframes custom-h {
  0% { background-position-x: 0; }
  100% { background-position-x: -1800px; }
}

@keyframes custom-v {
  0% { background-position-y: 0; }
  100% { background-position-y: -2100px; }
}

@keyframes custom-o {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.tile.custom-animation .tile-effect {
  animation: custom-h 0.1s steps(6) 6, custom-v .7s steps(7) 1, custom-o .7s;
  animation-fill-mode: forwards;
  background: url(chrome://op-resources/images/demo/custom.png) left top;
  height: 300px;
  left: -90px;
  pointer-events: none;
  position: absolute;
  width: 300px;
  top: -94px;
}

:host-context(html.bigger-tiles) .tile.custom-animation .tile-effect {
  left: -60px;
  top: -80px;
}
